<div class="row mb-5">
     <!-- <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary" >
           <div class="card-body">
               <h4 class="card-title display-4" routerLink="/register"><i class="fas fa-registered"></i>Register</h4>
           </div> 
       </div>
       
   </div> -->

   
   <div class="col-6 my-3">
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary">
           <div class="card-body">
               <h4 class="card-title display-4" routerLink="/ipo">IPO</h4>
           </div>
       </div>
       
   </div>
   <!-- <div class="col-6 my-3">
               
    <div class="card my-card border border-curved text-center btn btn-outline-primary" >
        <div class="card-body">
            <h4 class="card-title display-4" routerLink="/comparecompanies">CompareSectors</h4>
        </div>
    </div>
</div> -->
<div class="col-6 my-3">
            
    <div class="card my-card border border-curved text-center btn btn-outline-primary" >
        <div class="card-body">
           <h4 class="card-title display-4" routerLink="/comparecompanies">CompareCompany</h4>
        </div>
    </div>
</div>

   <!-- <div class="col-6 my-3">
               
    <div class="card my-card border border-curved text-center btn btn-outline-primary">
        <div class="card-body">
            <h4 class="card-title display-4" routerLink="/charts">Charts</h4>
        </div>
    </div>
    
</div> -->
<div class="col-6 my-3">
               
    <div class="card my-card border border-curved text-center btn btn-outline-primary">
        <div class="card-body">
            <h4 class="card-title display-4" routerLink="/userprofile">UserProfile</h4>
        </div>
    </div>
    
</div>


   
   
   
</div>

