
<div class="header" > 
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      
  
        
          <a class="nav-link" routerLink="home" >Home</a>
        
        
          <a class="nav-link" routerLink="users" >UserDetails</a>

          <a class="nav-link" routerLink="login" >Login</a>
        
        
          <!-- <a class="nav-link" routerLink="add-user">Add User</a> -->
        
        
          <a class="nav-link" routerLink="register">SignUp</a>
          <a class="nav-link" routerLink="admin" >Admin</a>
          <!-- <a class="nav-link" routerLink="pipes">Pipes</a> -->
        
        
          
        
  
      
    </div>
  </nav>


</div>

<div class="container body-content app-container">
  <router-outlet></router-outlet>
</div>



<div class="fixed-footer">
  <div class="container">Copyright &copy; 2020 Akhil Bharadwaj</div>        
</div>

