<table class="table table-dark ">
    <tr>
        <td>ID</td>
        <td> COMPANY NAME</td>
        <td> CEO</td>
        <td>BOARD OF DIRECTOR</td>
        <td>NO OF EMPLOYEES</td>
        <td>SECTOR</td>
        <td>TURN OVER</td>
        <td>SELECT STOCK EXCHANGE</td>
        <td>COMPANY CODE</td>
        <td>Deletion</td>
        <td>Updation</td>
    </tr>
    <tr *ngFor="let company of companies">
        <td>{{company.id}}</td>
        <td>{{company.companyname}}</td>
        <td>{{company.ceo}}</td>
        <td>{{company.boardOfDirector}}</td>
        <td>{{company.noe}}</td>
        <td>{{company.sector}}</td>
        <td>{{company.turnover}}</td>
        <td>{{company.selectstockexchange}}</td>
        <td>{{company.companyCode}}</td>
        <td><button class="btn btn-danger" (click)="deleteCompany(company)">Delete</button></td>
        <td><button class="btn btn-primary" (click)="updateCompany(company)">Update</button></td>
    </tr>
</table>